<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <table style="width:100%">
        <h3>Dear <%= @user.fullname %></h3>
    <tr>
      <th>Title</th>
      <th>Url</th>
    </tr>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.title %></td>
      <td><%= job.url %></td>
    </tr>
  <% end %>
    </p>
  </body>
</html>
