<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
        <%= link_to 'Dashboard', admins_users_path, class: "nav-link" %>
        <div class="sb-sidenav-menu-heading">Interface</div>
        <%= link_to 'Payment Plan', admins_plan_path, class: 'nav-link' %>
        <%= link_to 'Email Package', admins_email_path, class: 'nav-link' %>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Logged in as:</div>
      <%= current_admin.email %>
    </div>
  </nav>
</div>
