<h1> Plans</h1>


<table style="width:100%">
  <tr>
    <th>Plan Name</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Select Plan</th>
  </tr>
  <% @plan.each do |plan| %>
	  <tr>
	    <td><%= plan['nickname'] %></td>
	    <td><%= plan['amount']%></td>
      <td><%= plan['currency']%></td>
	    <td><%= link_to 'Pay', payment_form_path(plan_is: plan['id']), class: "stripe-button" %></td>
	  </tr>
	 <% end %>
</table>
